h1 {
    background-color: #4aaaa5;
    font-size: 18pt;
    width: 150px;
    color: #ffffff;
    text-align: center;
    margin-left: 205px;
    
}
body {
    background-image: url("https://raw.githubusercontent.com/SabrinaThong/Basic-Portfolio/master/assets/images/interlaced.png");
}
header {
    height: 100px;
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;;
    border-color: #cccccc;
    margin-top: auto;
    
}
h2 { 
    color: #4aaaa5;
    margin-left: 25px;
}

  li {
      display: inline;
      padding: 15px;
      
  }
ul {
    list-style-type: none;
    
}
.about {
    color: grey;
}
.portfolio {
    color: grey;
}
.contact {
    color: grey;
}
nav a {
    text-decoration: none;
}

  footer {
    position: fixed;
    bottom:0;
    background-color: #666666;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    color: white;
    text-align: center;

  }
nav { 
     font-size: 120%;
    font-weight: bold;
    float: center; 
    width: 960px; 
    height: 30px;
    text-align: right;
    padding-left: 10px;
    border-bottom-color: 1px solid lightgray;
    }
.travel {
    height: 200px;
    width:200px;
    float: left;
    margin: 0 1.5%;
}
.course {
    height: 200px;
    width:200px;
    float: right;
    margin: 0 1.5%;
}
.computer {
    height: 200px;
    width:200px;
    margin: 0 1.5%;
}
.camping {
    height: 200px;
    width:200px;
    margin: 1.5% 0;

}
.soccer {
    height: 200px;
    width:200px;
    margin: 1.5% 0;
  
}


p {
    color: #777777;
}


img {
    float: left;
    padding-right: 10px;
    margin-left: 25px;
}
.container {
    flex-direction: column;
}

#wrapper 
    {width: 80%;
    background-color:#ffffff;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
    height: 500px; }
input[type=text], select, textarea {
        width: 95%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        margin-left: 5px;
      }
#message {
    height: 200px;
}
.column {
    margin-left: 25px;
}
.container {
    position: relative;
    
}
